<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Grid Blog 1 Columns</title>
    <%- include('./layouts/head') -%>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <%- include('./layouts/header') -%>
      <!-- Page Content-->
      <main class="page-content section-75 section-md-top-90 section-md-bottom-95">
        <!-- Blog Grid-->
        <section>
          <div class="shell">
            <h1>Blog</h1>
            <div class="range range-xs-center offset-top-50">
              <div class="cell-sm-6">
                <!-- Post Boxed-->
                <div class="post-boxed text-left">
                  <div class="post-boxed-img-wrap"><img src="images/blog/post-25-570x381.jpg" width="570" height="381" alt="" class="img-responsive center-block"></div>
                  <div class="post-boxed-body">
                    <div class="post-boxed-header">
                      <!-- List inline marked-->
                      <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-white list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                        <li><a href="#" class="text-malibu">Luxury event</a></li>
                        <li><a href="#" class="text-malibu">Sport</a></li>
                        <li><a href="#" class="text-malibu">Yachts</a></li>
                      </ul>
                    </div>
                    <div class="post-boxed-footer offset-top-25 offset-sm-top-0">
                      <div class="post-boxed-title font-accent text-bold text-spacing-50"><a href="blog-single-post.html" class="text-white">2 HELIA 44’S ADDED TO OUR USVI BASE</a></div>
                      <div class="offset-top-5">
                        <!-- List inline-->
                        <ul class="list-inline">
                          <li class="p text-extra-small text-bold text-spacing-0"><span class="text-white">by</span> <a href="single-member.html" class="text-malibu inset-left-4">Richard Nelson</a></li>
                          <li class="text-spacing-0 inset-left-20"><span class="icon icon-sm material-icons-ico material-icons-access_time text-malibu text-middle"></span><span class="text-extra-small text-white text-middle inset-left-8 text-bold">5 days ago</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-25">
                  <!-- Post Boxed-->
                  <div class="post-boxed text-left">
                    <div class="post-boxed-img-wrap"><img src="images/blog/post-28-570x381.jpg" width="570" height="381" alt="" class="img-responsive center-block"></div>
                    <div class="post-boxed-body">
                      <div class="post-boxed-header">
                        <!-- List inline marked-->
                        <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-white list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                          <li><a href="#" class="text-malibu">Luxury event</a></li>
                          <li><a href="#" class="text-malibu">Sport</a></li>
                          <li><a href="#" class="text-malibu">Yachts</a></li>
                        </ul>
                      </div>
                      <div class="post-boxed-footer offset-top-25 offset-sm-top-0">
                        <div class="post-boxed-title font-accent text-bold text-spacing-50"><a href="blog-single-post.html" class="text-white">NEW BASE IN THE USVI, IS NOW OPEN!</a></div>
                        <div class="offset-top-5">
                          <!-- List inline-->
                          <ul class="list-inline">
                            <li class="p text-extra-small text-bold text-spacing-0"><span class="text-white">by</span> <a href="single-member.html" class="text-malibu inset-left-4">Richard Nelson</a></li>
                            <li class="text-spacing-0 inset-left-20"><span class="icon icon-sm material-icons-ico material-icons-access_time text-malibu text-middle"></span><span class="text-extra-small text-white text-middle inset-left-8 text-bold">6 days ago</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-25">
                  <!-- Post Boxed-->
                  <div class="post-boxed text-left">
                    <div class="post-boxed-img-wrap"><img src="images/blog/post-31-570x381.jpg" width="570" height="381" alt="" class="img-responsive center-block"></div>
                    <div class="post-boxed-body">
                      <div class="post-boxed-header">
                        <!-- List inline marked-->
                        <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-white list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                          <li><a href="#" class="text-malibu">Luxury event</a></li>
                          <li><a href="#" class="text-malibu">Sport</a></li>
                          <li><a href="#" class="text-malibu">Yachts</a></li>
                        </ul>
                      </div>
                      <div class="post-boxed-footer offset-top-25 offset-sm-top-0">
                        <div class="post-boxed-title font-accent text-bold text-spacing-50"><a href="blog-single-post.html" class="text-white">TOP 5 REASONS TO CHARTER IN MONTENEGRO</a></div>
                        <div class="offset-top-5">
                          <!-- List inline-->
                          <ul class="list-inline">
                            <li class="p text-extra-small text-bold text-spacing-0"><span class="text-white">by</span> <a href="single-member.html" class="text-malibu inset-left-4">Richard Nelson</a></li>
                            <li class="text-spacing-0 inset-left-20"><span class="icon icon-sm material-icons-ico material-icons-access_time text-malibu text-middle"></span><span class="text-extra-small text-white text-middle inset-left-8 text-bold">7 days ago</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-top-50">
              <!-- Classic Pagination-->
              <nav>
                <ul class="list-marked list-marked-type-2 list-marked-type-2-dot-1 list-marked-silver-chalice pagination-classic">
                  <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_left"></a></li>
                  <li class="active"><a href="#">01</a></li>
                  <li><a href="#">02</a></li>
                  <li><a href="#">03</a></li>
                  <li><a href="#">04</a></li>
                  <li><a href="#">05</a></li>
                  <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_right"></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <%- include('./layouts/footer') -%>
    </div>
   <!-- Global Mailform Output-->
  <%- include('./layouts/global') -%>
    <!-- Java script-->
    <%- include('./layouts/script') -%>
  </body>
</html>