<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Classic Blog Right Sidebar</title>
    <%- include('./layouts/head') -%>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <%- include('./layouts/header') -%>
      <!-- Page Content-->
      <main class="page-content section-75 section-md-top-90 section-md-bottom-95">
        <!-- Blog Classic Both Sidebar-->
        <section>
          <div class="shell">
            <h1 class="inset-lg-right-400">Blog</h1>
            <div class="range range-xs-center range-lg-left offset-top-50">
              <div class="cell-sm-10 cell-md-8">
                <!-- Post Classic-->
                <article class="post-classic text-left">
                  <div class="post-classic-img-wrap"><a href="blog-single-post.html"><img src="images/blog/post-23-770x381.jpg" width="770" height="381" alt="" class="img-responsive center-block"></a></div>
                  <div class="post-classic-body offset-top-30">
                    <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                      <div class="unit-body">
                        <!-- Post Meta-->
                        <div class="post-meta">
                          <p class="text-spacing-0">July 25, 2016</p>
                        </div>
                        <!-- Post Title-->
                        <div class="post-title">
                          <p class="offset-top-5 font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Must-See Coastal Landscapes in Corsica</a></p>
                        </div>
                        <!-- Post Body-->
                        <div class="post-body offset-top-15 offset-md-top-25">
                          <p class="text-spacing-0">Corsica has 385 miles of coastline, more than 200 beaches, nature reserves, and mountain retreats. A gentle Mediterranean climate has promoted rich forests of evergreen and protects a wide variety of bird species. Breathtaking natural landscapes on the Here are a few of our favorite landscapes worth sailing.... <a href="blog-single-post.html" class="text-extra-small text-bold text-turquoise text-uppercase">Read More</a></p>
                        </div>
                        <div class="offset-top-20 offset-md-top-30">
                          <!-- List inline marked-->
                          <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                            <li><a href="#" class="text-turquoise">Luxury event</a></li>
                            <li><a href="#" class="text-turquoise">Sporting events</a></li>
                            <li><a href="#" class="text-turquoise">Business events</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="unit-right">
                        <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                          <div class="unit-left"><img src="images/users/user-sandra-green-70x70.jpg" alt=" " width="70" height="70" class="img-circle"></div>
                          <div class="unit-body text-center offset-top-4">
                            <p class="text-extra-small text-spacing-0 text-bold">
                              <cite class="text-normal"><a href="single-member.html" class="text-turquoise">Sandra <br class="veil reveal-sm-inline-block"> Green</a></cite>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <div class="offset-top-30">
                  <div class="hr bg-gray-lighter"></div>
                </div>
                <div class="offset-top-35">
                  <!-- Post Classic-->
                  <article class="post-classic text-left">
                    <div class="post-classic-img-wrap"><a href="blog-single-post.html"><img src="images/blog/post-27-770x381.jpg" width="770" height="381" alt="" class="img-responsive center-block"></a></div>
                    <div class="post-classic-body offset-top-30">
                      <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                        <div class="unit-body">
                          <!-- Post Meta-->
                          <div class="post-meta">
                            <p class="text-spacing-0">July 20, 2016</p>
                          </div>
                          <!-- Post Title-->
                          <div class="post-title">
                            <p class="offset-top-5 font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Top 5 Reasons to Charter <br class="veil reveal-lg-inline-block"> in Montenegro</a></p>
                          </div>
                          <!-- Post Body-->
                          <div class="post-body offset-top-15 offset-md-top-25">
                            <p class="text-spacing-0">Montenegro lies on the Adriatic Sea and boasts over 180 miles of beautiful coastline, with 45 miles of beaches and numerous well-preserved historic towns and villages. The region offers great weather conditions for sailing and more than 250 days under the sun a year with typical Mediterranean wind conditions. <a href="blog-single-post.html" class="text-extra-small text-bold text-turquoise text-uppercase">Read More</a></p>
                          </div>
                          <div class="offset-top-20 offset-md-top-30">
                            <!-- List inline marked-->
                            <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                              <li><a href="#" class="text-turquoise">Luxury event</a></li>
                              <li><a href="#" class="text-turquoise">Sporting events</a></li>
                              <li><a href="#" class="text-turquoise">Business events</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="unit-right">
                          <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                            <div class="unit-left"><img src="images/users/user-tom-jefferson-70x70.jpg" alt=" " width="70" height="70" class="img-circle"></div>
                            <div class="unit-body text-center offset-top-4">
                              <p class="text-extra-small text-spacing-0 text-bold">
                                <cite class="text-normal"><a href="single-member.html" class="text-turquoise">Tom <br class="veil reveal-sm-inline-block"> Jefferson</a></cite>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <div class="offset-top-30">
                    <div class="hr bg-gray-lighter"></div>
                  </div>
                  <div class="offset-top-35">
                    <!-- Post Classic-->
                    <article class="post-classic text-left">
                      <div class="post-classic-img-wrap"><a href="blog-single-post.html"><img src="images/blog/post-30-770x381.jpg" width="770" height="381" alt="" class="img-responsive center-block"></a></div>
                      <div class="post-classic-body offset-top-30">
                        <div class="unit unit-sm unit-sm-horizontal unit-sm-inverse">
                          <div class="unit-body">
                            <!-- Post Meta-->
                            <div class="post-meta">
                              <p class="text-spacing-0">July 10, 2016</p>
                            </div>
                            <!-- Post Title-->
                            <div class="post-title">
                              <p class="offset-top-5 font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Debuting at Annapolis Sailboat Show</a></p>
                            </div>
                            <!-- Post Body-->
                            <div class="post-body offset-top-15 offset-md-top-25">
                              <p class="text-spacing-0">The North American debut of the Bali 4.0 will arrive at the Annapolis Spring Sailboat Show April 22-24th. The must see catamaran, Bali 4.0, is revolutionary in its class. Now is your chance to see this cat in person on the Chesapeake Bay. You will notice that in place of the trampoline there is a large dining area and. <a href="blog-single-post.html" class="text-extra-small text-bold text-turquoise text-uppercase">Read More</a></p>
                            </div>
                            <div class="offset-top-20 offset-md-top-30">
                              <!-- List inline marked-->
                              <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-sm-left-4">
                                <li><a href="#" class="text-turquoise">Luxury event</a></li>
                                <li><a href="#" class="text-turquoise">Sporting events</a></li>
                                <li><a href="#" class="text-turquoise">Business events</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="unit-right">
                            <div class="unit unit-horizontal unit-middle unit-sm-vertical unit-spacing-xs">
                              <div class="unit-left"><img src="images/users/user-mike-sanders-70x70.jpg" alt=" " width="70" height="70" class="img-circle"></div>
                              <div class="unit-body text-center offset-top-4">
                                <p class="text-extra-small text-spacing-0 text-bold">
                                  <cite class="text-normal"><a href="single-member.html" class="text-turquoise">Mike <br class="veil reveal-sm-inline-block"> Sanders</a></cite>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <div class="offset-top-30">
                      <div class="hr bg-gray-lighter"></div>
                    </div>
                  </div>
                  <div class="offset-top-50">
                    <!-- Classic Pagination-->
                    <nav>
                      <ul class="list-marked list-marked-type-2 list-marked-type-2-dot-1 list-marked-silver-chalice pagination-classic">
                        <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_left"></a></li>
                        <li class="active"><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                        <li class="text-regular"><a href="#" class="icon icon-sm icon-primary material-icons-ico material-icons-chevron_right"></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="cell-sm-10 cell-md-4 cell-lg-3 text-sm-left offset-top-64 offset-md-top-0">
                <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">search</p>
                <div class="offset-top-30">
                  <!-- RD Search Form-->
                  <form action="search-results.html" method="GET" class="form-search blog-form-search rd-search">
                    <div class="form-group">
                      <input type="text" name="s" autocomplete="off" class="form-search-input form-control null">
                    </div>
                    <button type="submit" class="form-search-submit"><span class="icon icon-sm material-icons-ico material-icons-search"></span></button>
                  </form>
                </div>
                <div class="offset-top-35">
                  <div class="hr bg-gray-lighter"></div>
                </div>
                <div class="offset-top-55">
                  <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">twitter feed</p>
                </div>
                <div class="offset-top-30">
                  <div data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class="twitter">
                    <div data-twitter-type="tweet" class="twitter-sm">
                      <div data-date="text" class="twitter-date text-dark small"></div>
                      <div data-tweet="text" class="twitter-text"></div>
                      <div data-screen_name="text" class="twitter-name text-bold big"></div>
                    </div>
                    <div class="hr bg-gray-lighter"></div>
                    <div data-twitter-type="tweet" class="twitter-sm">
                      <div data-date="text" class="twitter-date text-dark small"></div>
                      <div data-tweet="text" class="twitter-text"></div>
                      <div data-screen_name="text" class="twitter-name text-bold big"></div>
                    </div>
                  </div>
                </div>
                <div class="offset-top-35">
                  <div class="hr bg-gray-lighter"></div>
                </div>
                <div class="range range-xs-center offset-top-55">
                  <div class="cell-sm-3 cell-md-12">
                    <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">categories</p>
                    <div class="offset-top-25">
                      <ul class="list-marked text-extra-small text-bold p text-left font-accent">
                        <li><a href="#" class="text-primary">Yachts</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Events</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Sport</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Luxury</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Business</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Sea Rest</a></li>
                      </ul>
                    </div>
                    <div class="veil-sm reveal-md-block offset-top-30 offset-sm-top-0 offset-md-top-30">
                      <div class="hr bg-gray-lighter"></div>
                    </div>
                  </div>
                  <div class="cell-sm-3 cell-md-12 offset-md-top-55">
                    <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">archive</p>
                    <div class="offset-top-25">
                      <ul class="list-marked text-extra-small text-bold p text-left font-accent">
                        <li><a href="#" class="text-primary">July 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">June 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">May 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">April 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">March 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">February 2016</a></li>
                      </ul>
                    </div>
                    <div class="veil-sm reveal-md-block offset-top-30 offset-sm-top-0 offset-md-top-30">
                      <div class="hr bg-gray-lighter"></div>
                    </div>
                  </div>
                  <div class="cell-sm-6 cell-md-12 offset-md-top-55">
                    <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">tags</p>
                    <div class="offset-top-20">
                      <!-- List inline marked-->
                      <ul class="list-inline list-tags font-accent text-bold text-spacing-inverse-25 text-left">
                        <li><a href="#" class="text-turquoise">Luxury event</a></li>
                        <li><a href="#" class="text-turquoise">Sport</a></li>
                        <li><a href="#" class="text-turquoise">Business events</a></li>
                        <li><a href="#" class="text-turquoise">Regattas</a></li>
                        <li><a href="#" class="text-turquoise">Services</a></li>
                        <li><a href="#" class="text-turquoise">Rest</a></li>
                        <li><a href="#" class="text-turquoise">Sailor</a></li>
                        <li><a href="#" class="text-turquoise">Sea navigation</a></li>
                        <li><a href="#" class="text-turquoise">Crew</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <%- include('./layouts/footer') -%>
    </div>
   <!-- Global Mailform Output-->
  <%- include('./layouts/global') -%>
    <!-- Java script-->
    <%- include('./layouts/script') -%>
  </body>
</html>