<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Modern Blog Left Sidebar</title>
    <%- include('./layouts/head') -%>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
     <%- include('./layouts/header') -%>
      <!-- Page Content-->
      <main class="page-content section-75 section-md-top-90 section-md-bottom-110">
        <!-- Modern Blog-->
        <section>
          <div class="shell">
            <h1 class="text-spacing-inverse-50">Blog</h1>
            <div class="range range-xs-center range-lg-left offset-top-15">
              <div class="cell-sm-10 cell-md-9 cell-lg-7 cell-lg-push-1">
                <div class="post-modern-timeline-date text-sm-right">
                  <time datetime="2016-01-01" class="text-extra-small">July 25</time>
                </div>
                <!-- Post Modern-->
                <article class="post post-modern post-modern-timeline post-modern-timeline-right">
                  <!-- Post media-->
                  <header class="post-media">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="//www.youtube.com/embed/Vfhkmac5Bi8?wmode=transparent" class="embed-responsive-item"></iframe>
                    </div>
                  </header>
                  <!-- Post content-->
                  <section class="post-content text-left">
                    <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                      <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">2 days ago</time>
                    </div>
                    <div class="reveal-inline-block text-middle">
                      <!-- List inline marked-->
                      <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                        <li><a href="#" class="text-malibu">Luxury event</a></li>
                        <li><a href="#" class="text-malibu">Sport</a></li>
                        <li><a href="#" class="text-malibu">Yachts</a></li>
                      </ul>
                    </div>
                    <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8"><span class="icon icon-sm material-icons-ico material-icons-videocam"></span></div>
                    <!-- Post Title-->
                    <div class="post-title offset-top-20">
                      <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Must-See Coastal Landscapes in Corsica</a></p>
                    </div>
                    <!-- Post Body-->
                    <div class="post-body offset-top-25">
                      <p class="text-spacing-0 text-extra-small">Corsica has 385 miles of coastline, more than 200 beaches, nature reserves, and mountain retreats. A gentle Mediterranean climate has promoted rich forests of evergreen and protects a wide variety of bird species and several endangered animals. Breathtaking natural landscapes on the Corsican coastline are only a short dinghy ride away from your charter yacht. Here are a few of our favorite landscapes worth sailing.</p>
                    </div>
                    <div class="post-author">
                      <div class="post-author-img"><img width="70" height="70" src="images/users/user-sandra-green-70x70.jpg" alt="" class="img-circle"></div>
                      <div class="post-author-name text-middle">Sandra Green</div>
                    </div>
                  </section>
                </article>
                <div class="post-modern-timeline-date text-sm-right">
                  <time datetime="2016-01-01" class="text-extra-small">July 20</time>
                </div>
                <!-- Post Modern-->
                <article class="post post-modern post-modern-timeline post-modern-timeline-right">
                  <!-- Post media-->
                  <header class="post-media"><img width="570" height="381" src="images/blog/post-30-570x381.jpg" alt="" class="img-responsive img-cover"></header>
                  <!-- Post content-->
                  <section class="post-content text-left">
                    <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                      <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">2 days ago</time>
                    </div>
                    <div class="reveal-inline-block text-middle">
                      <!-- List inline marked-->
                      <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                        <li><a href="#" class="text-malibu">Luxury event</a></li>
                        <li><a href="#" class="text-malibu">Sport</a></li>
                        <li><a href="#" class="text-malibu">Yachts</a></li>
                      </ul>
                    </div>
                    <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8"><span class="icon icon-sm material-icons-ico material-icons-image"></span></div>
                    <!-- Post Title-->
                    <div class="post-title offset-top-20">
                      <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Top 5 Reasons to Charter in Montenegro</a></p>
                    </div>
                    <!-- Post Body-->
                    <div class="post-body offset-top-25">
                      <p class="text-spacing-0 text-extra-small">Montenegro lies on the Adriatic Sea and boasts over 180 miles of beautiful coastline, with 45 miles of beaches and numerous well-preserved historic towns and villages. The region offers great weather conditions for sailing.</p>
                    </div>
                    <div class="post-author">
                      <div class="post-author-img"><img width="70" height="70" src="images/users/user-tom-jefferson-70x70.jpg" alt="" class="img-circle"></div>
                      <div class="post-author-name text-middle">Tom Jefferson</div>
                    </div>
                  </section>
                </article>
                <div class="post-modern-timeline-date text-sm-right">
                  <time datetime="2016-01-01" class="text-extra-small">July 15</time>
                </div>
                <!-- Post Modern-->
                <article class="post post-modern post-modern-timeline post-modern-timeline-right">
                  <!-- Post content-->
                  <section class="post-content text-left">
                    <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                      <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">July 15</time>
                    </div>
                    <div class="reveal-inline-block text-middle">
                      <!-- List inline marked-->
                      <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                        <li><a href="#" class="text-malibu">Luxury event</a></li>
                        <li><a href="#" class="text-malibu">Sport</a></li>
                        <li><a href="#" class="text-malibu">Yachts</a></li>
                      </ul>
                    </div>
                    <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8"><span class="icon icon-sm material-icons-ico material-icons-create"></span></div>
                    <!-- Post Title-->
                    <div class="post-title offset-top-20">
                      <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">Debuting at Annapolis Sailboat Show</a></p>
                    </div>
                    <!-- Post Body-->
                    <div class="post-body offset-top-25">
                      <p class="text-spacing-0 text-extra-small">The North American debut of the Bali 4.0 will arrive at the Annapolis Spring Sailboat Show April 22-24th. The must see catamaran, Bali 4.0, is revolutionary in its class. Now is your chance to see this cat in person on the Chesapeake Bay. You will notice that in place of the trampoline there is a large dining area and plenty of room for sunbathing. When you tour the interior, you will find an open space living area with natural light.</p>
                    </div>
                    <div class="post-author">
                      <div class="post-author-img"><img width="70" height="70" src="images/users/user-mike-sanders-70x70.jpg" alt="" class="img-circle"></div>
                      <div class="post-author-name text-middle">Mike Sanders</div>
                    </div>
                  </section>
                </article>
                <div class="post-modern-timeline-date text-sm-right">
                  <time datetime="2016-01-01" class="text-extra-small">July 10</time>
                </div>
                <!-- Post Modern-->
                <article class="post post-modern post-modern-timeline post-modern-timeline-right post-modern-botder-top">
                  <!-- Post media-->
                  <header class="post-media">
                    <div class="post-inset section-top-34 section-bottom-0">
                      <div class="soundcloud-player-classic">
                        <iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                      </div>
                    </div>
                  </header>
                  <!-- Post content-->
                  <section class="post-content text-left">
                    <div class="post-meta small pull-sm-right"><span class="icon icon-sm material-icons-ico material-icons-access_time text-turquoise text-middle"></span>
                      <time datetime="2016-01-01" class="text-extra-small text-middle inset-left-4 text-bold">July 10</time>
                    </div>
                    <div class="reveal-inline-block text-middle">
                      <!-- List inline marked-->
                      <ul class="list-inline list-marked list-marked-type-2 list-marked-type-2-dot-1 list-silver-chalice list-marked-silver-chalice font-accent text-bold text-spacing-inverse-25 inset-left-6 inset-sm-left-4">
                        <li><a href="#" class="text-malibu">Luxury event</a></li>
                        <li><a href="#" class="text-malibu">Sport</a></li>
                        <li><a href="#" class="text-malibu">Yachts</a></li>
                      </ul>
                    </div>
                    <div class="veil reveal-xs-inline-block text-middle inset-xs-left-8"><span class="icon icon-sm mdi mdi-soundcloud"></span></div>
                    <!-- Post Title-->
                    <div class="post-title offset-top-20">
                      <p class="font-accent text-bold text-spacing-50 text-uppercase"><a href="blog-single-post.html" class="text-mine-shaft">EPIC TRIP REPORT</a></p>
                    </div>
                  </section>
                </article>
                <div class="post-modern-timeline-right offset-top-30 offset-lg-top-64">
                  <nav>
                    <ul class="pager pager-custom">
                      <li class="previous"><a href="#"><span aria-hidden="true" class="icon icon-sm text-middle icon-left material-icons-ico material-icons-keyboard_arrow_left"></span><span class="text-middle">prev</span></a></li>
                      <li class="next"><a href="#"><span class="text-middle">next</span><span aria-hidden="true" class="icon icon-sm text-middle icon-right material-icons-ico material-icons-keyboard_arrow_right"></span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="cell-sm-10 cell-md-9 cell-lg-3 text-sm-left offset-top-64 offset-lg-top-25">
                <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">search</p>
                <div class="offset-top-30">
                  <!-- RD Search Form-->
                  <form action="search-results.html" method="GET" class="form-search blog-form-search rd-search">
                    <div class="form-group">
                      <input type="text" name="s" autocomplete="off" class="form-search-input form-control null">
                    </div>
                    <button type="submit" class="form-search-submit"><span class="icon icon-sm material-icons-ico material-icons-search"></span></button>
                  </form>
                </div>
                <div class="offset-top-35">
                  <div class="hr bg-gray-lighter"></div>
                </div>
                <div class="offset-top-55">
                  <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">flickr</p>
                </div>
                <div class="offset-top-30">
                  <div data-photo-swipe="gallery" data-flickr-tags="tm61122" class="flickr widget-flickrfeed group group-xs widget-flickrfeed-lg"><a data-photo-swipe-item="" href="" data-image_c="href" data-size="1050x700" data-type="flickr-item" class="flickr-item thumbnail-classic"><img width="85" height="85" data-title="alt" src="images/_blank.png" alt="" data-image_q="src"/></a><a data-photo-swipe-item="" href="" data-image_c="href" data-size="1050x700" data-type="flickr-item" class="flickr-item thumbnail-classic"><img width="85" height="85" data-title="alt" src="images/_blank.png" alt="" data-image_q="src"/></a><a data-photo-swipe-item="" href="" data-image_c="href" data-size="1050x700" data-type="flickr-item" class="flickr-item thumbnail-classic"><img width="85" height="85" data-title="alt" src="images/_blank.png" alt="" data-image_q="src"/></a><a data-photo-swipe-item="" href="" data-image_c="href" data-size="1050x700" data-type="flickr-item" class="flickr-item thumbnail-classic"><img width="85" height="85" data-title="alt" src="images/_blank.png" alt="" data-image_q="src"/></a><a data-photo-swipe-item="" href="" data-image_c="href" data-size="1050x700" data-type="flickr-item" class="flickr-item thumbnail-classic"><img width="85" height="85" data-title="alt" src="images/_blank.png" alt="" data-image_q="src"/></a><a data-photo-swipe-item="" href="" data-image_c="href" data-size="1050x700" data-type="flickr-item" class="flickr-item thumbnail-classic"><img width="85" height="85" data-title="alt" src="images/_blank.png" alt="" data-image_q="src"/></a>
                  </div>
                </div>
                <div class="offset-top-35">
                  <div class="hr bg-gray-lighter"></div>
                </div>
                <div class="range range-xs-center offset-top-55">
                  <div class="cell-sm-3 cell-lg-12">
                    <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">categories</p>
                    <div class="offset-top-25">
                      <ul class="list-marked text-extra-small text-bold p text-left font-accent">
                        <li><a href="#" class="text-primary">Yachts</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Events</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Sport</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Luxury</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Business</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">Sea Rest</a></li>
                      </ul>
                    </div>
                    <div class="veil-sm reveal-lg-block offset-top-30 offset-sm-top-0 offset-lg-top-30">
                      <div class="hr bg-gray-lighter"></div>
                    </div>
                  </div>
                  <div class="cell-sm-3 cell-lg-12 offset-lg-top-55">
                    <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">archive</p>
                    <div class="offset-top-25">
                      <ul class="list-marked text-extra-small text-bold p text-left font-accent">
                        <li><a href="#" class="text-primary">July 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">June 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">May 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">April 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">March 2016</a></li>
                        <li class="offset-top-10"><a href="#" class="text-primary">February 2016</a></li>
                      </ul>
                    </div>
                    <div class="veil-sm reveal-lg-block offset-top-30 offset-sm-top-0 offset-lg-top-30">
                      <div class="hr bg-gray-lighter"></div>
                    </div>
                  </div>
                  <div class="cell-sm-6 cell-lg-12 offset-lg-top-55">
                    <p class="font-accent text-bold text-spacing-50 text-mine-shaft text-uppercase">tags</p>
                    <div class="offset-top-20">
                      <!-- List inline marked-->
                      <ul class="list-inline list-tags font-accent text-bold text-spacing-inverse-25 text-left">
                        <li><a href="#" class="text-turquoise">Luxury event</a></li>
                        <li><a href="#" class="text-turquoise">Sport</a></li>
                        <li><a href="#" class="text-turquoise">Business events</a></li>
                        <li><a href="#" class="text-turquoise">Regattas</a></li>
                        <li><a href="#" class="text-turquoise">Services</a></li>
                        <li><a href="#" class="text-turquoise">Rest</a></li>
                        <li><a href="#" class="text-turquoise">Sailor</a></li>
                        <li><a href="#" class="text-turquoise">Sea navigation</a></li>
                        <li><a href="#" class="text-turquoise">Crew</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <%- include('./layouts/footer') -%>
  </div>
  <!-- Global Mailform Output-->
  <%- include('./layouts/global') -%>
    <!-- Java script-->
    <%- include('./layouts/script') -%>
  </body>
</html>