<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Testimonials</title>
    <%- include('./layouts/head') -%>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <%- include('./layouts/header') -%>
      <!-- Page Content-->
      <main class="page-content section-75 section-md-top-90 section-md-bottom-125">
        <!-- Testimonials-->
        <section>
          <div class="shell">
            <div>
              <h1>Testimonials</h1>
              <div class="range range-xs-center offset-top-50 offset-md-top-20">
                <div class="cell-sm-5 cell-md-4">
                  <!-- Blockquote-->
                  <blockquote class="quote"><img src="images/users/user-john-wilson-169x169.jpg" width="169" height="169" alt="" class="img-circle img-responsive center-block">
                    <div class="offset-top-20 offset-md-top-25"><span class="icon text-silver-chalice material-icons-ico material-icons-format_quote"></span></div>
                    <div class="offset-top-10 offset-md-top-15">
                      <p class="text-extra-small">
                        <q class="text-extra-small">We had a wonderful sail this year in the Southern Cyclades. We picked up the Bavaria 46 in Paros. The team was most helpful in approving my sail plan and the boat was in first class condition.</q>
                      </p>
                    </div>
                    <div class="offset-top-10 offset-md-top-20">
                      <p>
                        <cite class="font-accent text-bold text-spacing-inverse-25 text-mine-shaft"><a href="single-member.html" class="text-mine-shaft">John Wilson</a><span class="reveal-block">(client)</span></cite>
                      </p>
                    </div>
                    <div class="offset-top-10">
                      <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                    </div>
                  </blockquote>
                </div>
                <div class="cell-sm-5 cell-md-4 offset-top-64 offset-sm-top-0">
                  <!-- Blockquote-->
                  <blockquote class="quote"><img src="images/users/user-april-smith-169x169.jpg" width="169" height="169" alt="" class="img-circle img-responsive center-block">
                    <div class="offset-top-20 offset-md-top-25"><span class="icon text-silver-chalice material-icons-ico material-icons-format_quote"></span></div>
                    <div class="offset-top-10 offset-md-top-15">
                      <p class="text-extra-small">
                        <q class="text-extra-small">Our week long Gulet cruise was blessed with perfect weather. I was impressed by the professionalism of Alen and the crew of Gardelin who put the safety and comfort of our group as their priority.</q>
                      </p>
                    </div>
                    <div class="offset-top-10 offset-md-top-20">
                      <p>
                        <cite class="font-accent text-bold text-spacing-inverse-25 text-mine-shaft"><a href="single-member.html" class="text-mine-shaft">April Smith</a><span class="reveal-block">(client)</span></cite>
                      </p>
                    </div>
                    <div class="offset-top-10">
                      <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                    </div>
                  </blockquote>
                </div>
                <div class="cell-sm-5 cell-md-4 offset-top-64 offset-md-top-0">
                  <!-- Blockquote-->
                  <blockquote class="quote"><img src="images/users/user-john-tompson-169x169.jpg" width="169" height="169" alt="" class="img-circle img-responsive center-block">
                    <div class="offset-top-20 offset-md-top-25"><span class="icon text-silver-chalice material-icons-ico material-icons-format_quote"></span></div>
                    <div class="offset-top-10 offset-md-top-15">
                      <p class="text-extra-small">
                        <q class="text-extra-small">I can’t believe it’s already been a week since we left the boat. We had a lovely week and good winds and I just wanted to thank you for all your help and information, and answering my endless questions!</q>
                      </p>
                    </div>
                    <div class="offset-top-10 offset-md-top-20">
                      <p>
                        <cite class="font-accent text-bold text-spacing-inverse-25 text-mine-shaft"><a href="single-member.html" class="text-mine-shaft">John Tompson</a><span class="reveal-block">(client)</span></cite>
                      </p>
                    </div>
                    <div class="offset-top-10">
                      <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                    </div>
                  </blockquote>
                </div>
                <div class="cell-sm-5 cell-md-4 offset-top-64 offset-md-top-30">
                  <!-- Blockquote-->
                  <blockquote class="quote"><img src="images/users/user-joanna-black-169x169.jpg" width="169" height="169" alt="" class="img-circle img-responsive center-block">
                    <div class="offset-top-20 offset-md-top-25"><span class="icon text-silver-chalice material-icons-ico material-icons-format_quote"></span></div>
                    <div class="offset-top-10 offset-md-top-15">
                      <p class="text-extra-small">
                        <q class="text-extra-small">Our itinerary took us from Trogir to Dubrovnik and the islands are beautiful. Most of the towns we visited were small, built in stone with few obvious changes to accommodate tourism.</q>
                      </p>
                    </div>
                    <div class="offset-top-10 offset-md-top-20">
                      <p>
                        <cite class="font-accent text-bold text-spacing-inverse-25 text-mine-shaft"><a href="single-member.html" class="text-mine-shaft">Joanna Black</a><span class="reveal-block">(client)</span></cite>
                      </p>
                    </div>
                    <div class="offset-top-10">
                      <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                    </div>
                  </blockquote>
                </div>
                <div class="cell-sm-5 cell-md-4 offset-top-64 offset-md-top-30">
                  <!-- Blockquote-->
                  <blockquote class="quote"><img src="images/users/user-jack-richardson-169x169.jpg" width="169" height="169" alt="" class="img-circle img-responsive center-block">
                    <div class="offset-top-20 offset-md-top-25"><span class="icon text-silver-chalice material-icons-ico material-icons-format_quote"></span></div>
                    <div class="offset-top-10 offset-md-top-15">
                      <p class="text-extra-small">
                        <q class="text-extra-small">Sailing the French Riviere is something you have to do, at least once. And, no doubt, the proper way is aboard of a catamaran. It is expensive, but living on the boat you can always control your expenses.</q>
                      </p>
                    </div>
                    <div class="offset-top-10 offset-md-top-20">
                      <p>
                        <cite class="font-accent text-bold text-spacing-inverse-25 text-mine-shaft"><a href="single-member.html" class="text-mine-shaft">Jack Richardson</a><span class="reveal-block">(client)</span></cite>
                      </p>
                    </div>
                    <div class="offset-top-10">
                      <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                    </div>
                  </blockquote>
                </div>
                <div class="cell-sm-5 cell-md-4 offset-top-64 offset-md-top-30">
                  <!-- Blockquote-->
                  <blockquote class="quote"><img src="images/users/user-tamara-cox-169x169.jpg" width="169" height="169" alt="" class="img-circle img-responsive center-block">
                    <div class="offset-top-20 offset-md-top-25"><span class="icon text-silver-chalice material-icons-ico material-icons-format_quote"></span></div>
                    <div class="offset-top-10 offset-md-top-15">
                      <p class="text-extra-small">
                        <q class="text-extra-small">We have just returned from our first bareboat charter out of Mahon, Menorca. Fortunately we found Jeremy from Yachtec who responded promptly to our emails and helped us with the booking process.</q>
                      </p>
                    </div>
                    <div class="offset-top-10 offset-md-top-20">
                      <p>
                        <cite class="font-accent text-bold text-spacing-inverse-25 text-mine-shaft"><a href="single-member.html" class="text-mine-shaft">Tamara Cox</a><span class="reveal-block">(client)</span></cite>
                      </p>
                    </div>
                    <div class="offset-top-10">
                      <h5 class="text-spacing-20 text-silver-chalice">...</h5>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <%- include('./layouts/footer') -%>
  </div>
  <!-- Global Mailform Output-->
  <%- include('./layouts/global') -%>
    <!-- Java script-->
    <%- include('./layouts/script') -%>
  </body>
</html>