<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">
  <head>
    <!-- Site Title-->
    <title>Typography</title>
    <%- include('./layouts/head') -%>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
       <%- include('./layouts/header') -%>
      <!-- Page Content-->
      <main class="page-content section-75 section-md-90">
        <!-- Typography-->
        <section>
          <div class="shell section-aside-xl">
            <div class="section-aside-xl-right text-xl-left">
              <h1>H1 heading</h1>
              <div class="offset-top-4">
                <h2>H2 heading</h2>
              </div>
              <div class="offset-top-15">
                <h3>H3 heading</h3>
              </div>
              <div class="offset-top-15">
                <h4>H4 heading</h4>
              </div>
              <div class="offset-top-20">
                <h5>H5 heading</h5>
              </div>
              <div class="offset-top-23">
                <h6>H6 heading</h6>
              </div>
            </div>
            <div class="range range-xs-center offset-top-85 offset-xl-top-0">
              <div class="cell-sm-10 cell-lg-8">
                <h1>H1 heading</h1>
                <div class="offset-top-20 offset-md-top-44">
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </div>
                <div class="offset-top-64 offset-md-top-85">
                  <h2>H2 heading</h2>
                  <div class="offset-top-20 offset-md-top-44">
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                </div>
                <div class="offset-top-64 offset-md-top-90">
                  <h3>H3 heading</h3>
                  <div class="offset-top-23">
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                </div>
                <div class="offset-top-64 offset-md-top-90">
                  <h4>H4 heading</h4>
                  <div class="offset-top-23">
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                </div>
                <div class="offset-top-64 offset-md-top-95">
                  <h5>H5 heading</h5>
                  <div class="offset-top-25">
                    <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                </div>
                <div class="offset-top-64 offset-md-top-95">
                  <h6>H6 heading</h6>
                  <div class="offset-top-25">
                    <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                </div>
                <!-- blockquote-->
                <div class="offset-top-64 offset-md-top-95">
                  <h5>blockquote</h5>
                  <div class="offset-top-30">
                    <!-- Quote Classic-->
                    <blockquote class="quote-classic context-dark"><span class="icon material-icons-ico material-icons-format_quote icon-white"></span>
                      <div class="offset-top-15">
                        <p>
                          <q>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</q>
                        </p>
                      </div>
                      <div class="offset-top-25">
                        <div>
                          <p>
                            <cite class="font-accent text-bold text-spacing-inverse-25"><a href="single-member.html">Richard Nelson</a></cite>
                          </p>
                        </div>
                        <p class="font-accent text-bold text-spacing-inverse-25">(client)</p>
                      </div>
                    </blockquote>
                  </div>
                </div>
                <!-- HTML text elements-->
                <div class="offset-top-64 offset-md-top-100">
                  <h5>HTML text elements</h5>
                  <div class="offset-top-25 text-left">
                    <div class="text-extra-small text-spacing-0">Welcome to our wonderful world. This is a bold text. <code>This is a highlighted text.</code> We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login <span data-toggle="tooltip" data-placement="top" title="Default Text" class="text-mine-shaft tooltip-custom">Tooltips</span> widgets, you will definitely have a great experience of using our web page. <span class="text-strike">This is a strickethrough text.</span> <span class="text-underline">This is an underlined text.</span> <a href="#" class="text-primary">Link</a> <a href="#" class="text-mine-shaft">Hover link</a> <a href="#" class="text-mine-shaft">Press link</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- unordered list-->
            <div class="range range-xs-center offset-top-64 offset-md-top-95">
              <div class="cell-sm-10 cell-md-7 cell-lg-5">
                <h5>unordered list</h5>
                <div class="inset-lg-left-40 offset-top-25 text-left">
                  <p class="text-extra-small">We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests</p>
                  <div class="offset-top-10">
                    <!-- List-->
                    <ul class="list-marked font-accent text-bold p text-left">
                      <li><a href="#" class="text-primary">Consulting</a></li>
                      <li class="offset-top-10"><a href="#" class="text-primary">Customer Service</a></li>
                      <li class="offset-top-10"><a href="#" class="text-primary">Innovation</a></li>
                      <li class="offset-top-10"><a href="#" class="text-primary">Management</a></li>
                      <li class="offset-top-10"><a href="#" class="text-primary">Ethics</a></li>
                    </ul>
                  </div>
                  <div class="offset-top-15">
                    <p class="text-extra-small">We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.</p>
                  </div>
                </div>
                <div class="offset-top-64 offset-md-top-95">
                  <h5>ordered list</h5>
                  <div class="inset-lg-left-40 offset-top-25 text-left">
                    <p class="text-extra-small">We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests</p>
                    <div class="offset-top-10">
                      <!-- List-->
                      <ul class="list-index list-index-extra-small font-accent text-bold p text-left">
                        <li><span class="list-index-counter text-extra-small"></span><a href="#" class="inset-left-15 text-primary">Consulting</a></li>
                        <li class="offset-top-10"><span class="list-index-counter text-extra-small"></span><a href="#" class="inset-left-12 text-primary">Customer Service</a></li>
                        <li class="offset-top-10"><span class="list-index-counter text-extra-small"></span><a href="#" class="inset-left-12 text-primary">Innovation</a></li>
                        <li class="offset-top-10"><span class="list-index-counter text-extra-small"></span><a href="#" class="inset-left-12 text-primary">Management</a></li>
                        <li class="offset-top-10"><span class="list-index-counter text-extra-small"></span><a href="#" class="inset-left-12 text-primary">Ethics</a></li>
                      </ul>
                    </div>
                    <div class="offset-top-15">
                      <p class="text-extra-small">We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- icon list-->
            <div class="offset-top-64 offset-md-top-100">
              <h5>icon list</h5>
              <div class="range range-xs-center offset-top-25">
                <div class="cell-sm-10 cell-md-4">
                  <!-- Box Icon-->
                  <div class="box-icon"><span class="icon icon-lg thin-ico thin-icon-user text-primary"></span>
                    <div class="offset-top-20">
                      <div class="font-accent text-uppercase text-bold text-spacing-50 text-primary">best service</div>
                    </div>
                    <div class="offset-top-28 inset-lg-left-30 inset-lg-right-30">
                      <p class="text-extra-small">Our mission is to attract and retain customers by providing Best in Class solutions and fostering a profitable, disciplined culture of safety, service, and trust.</p>
                    </div>
                  </div>
                </div>
                <div class="cell-sm-10 cell-md-4 offset-top-44 offset-md-top-0">
                  <!-- Box Icon-->
                  <div class="box-icon"><span class="icon icon-lg thin-ico thin-icon-love text-primary"></span>
                    <div class="offset-top-20">
                      <div class="font-accent text-uppercase text-bold text-spacing-50 text-primary">reputation</div>
                    </div>
                    <div class="offset-top-28 inset-lg-left-30 inset-lg-right-30">
                      <p class="text-extra-small">We have established a strong presence in the industry.Our award-winning services earn a reputation for quality and excellence that few can rival.</p>
                    </div>
                  </div>
                </div>
                <div class="cell-sm-10 cell-md-4 offset-top-44 offset-md-top-0">
                  <!-- Box Icon-->
                  <div class="box-icon"><span class="icon icon-lg thin-ico thin-icon-briefcase-2 text-primary"></span>
                    <div class="offset-top-20">
                      <div class="font-accent text-uppercase text-bold text-spacing-50 text-primary">safety &amp; security</div>
                    </div>
                    <div class="offset-top-28 inset-lg-left-30 inset-lg-right-30">
                      <p class="text-extra-small">Safety for our employees, customers and the community we work with will always remain our primary focus in all the policies, procedures and programs.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- image centered-->
            <div class="range range-xs-center offset-top-64 offset-md-top-95">
              <div class="cell-sm-10 cell-lg-8">
                <h5>image centered</h5>
                <div class="offset-top-30"><img src="images/pages/typography-01-770x422.jpg" width="770" height="422" alt="" class="img-responsive center-block"></div>
                <div class="offset-top-30">
                  <h5 class="text-silver-chalice">fast. cheap. reliable</h5>
                </div>
                <div class="offset-top-25">
                  <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </div>
              </div>
            </div>
            <!-- image left-->
            <div class="range range-xs-center offset-top-64 offset-md-top-95">
              <div class="cell-md-10">
                <h5>image left</h5>
                <div class="range range-xs-center text-left offset-top-30">
                  <div class="cell-sm-6"><img src="images/pages/typography-02-470x305.jpg" width="470" height="305" alt="" class="img-responsive center-block"></div>
                  <div class="cell-sm-6 offset-top-44 offset-sm-top-0">
                    <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                    <div class="offset-top-10">
                      <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                    </div>
                  </div>
                </div>
                <!-- image right-->
                <div class="offset-top-64 offset-md-top-95">
                  <h5>image right</h5>
                  <div class="range range-xs-center text-left offset-top-30">
                    <div class="cell-sm-6 cell-sm-push-1"><img src="images/pages/typography-02-470x305.jpg" width="470" height="305" alt="" class="img-responsive center-block"></div>
                    <div class="cell-sm-6 offset-top-44 offset-sm-top-0">
                      <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                      <div class="offset-top-10">
                        <p class="text-extra-small">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <%- include('./layouts/footer') -%>
  </div>
  <!-- Global Mailform Output-->
  <%- include('./layouts/global') -%>
    <!-- Java script-->
    <%- include('./layouts/script') -%>
  </body>
</html>